
<center> <h1> Data Ingestion and cleaning <br> Pandas I/O and Data Cleaup and Preparation

</h1></center>

In [2]:
import pandas as pd
pandas_io_tables= pd.read_html('https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html')
len(pandas_io_tables)

1

In [3]:
pandas_io_tables[0]

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary        Parquet Format    read_parquet    to_parquet
8       binary               Msgpack    read_msgpack    to_msgpack
9       binary                 Stata      read_stata      to_stata
10      binary                   SAS        read_sas           NaN
11      binary  Python Pickle Format     read_pickle     to_pickle
12         SQL                   SQL        read_sql        to_sql
13         SQL      Google Big Query        read_gbq        to_gbq

# read_csv

In [ ]:
import pandas as pd

In [4]:
%%bash
echo -e  "a, b, c\n1, 3, 4\n11, 44, 55\n4, 5, 23"> sample_file.txxxt

In [5]:
! ls *.txxxt

sample_file.txxxt

In [6]:
!head sample_file.txxxt

a, b, c
1, 3, 4
11, 44, 55
4, 5, 23

This is a delimiter(comma separated) text file. So we can use pandas.read_csv

In [7]:
df= pd.read_csv('sample_file.txxxt')
df

    a   b   c
0   1   3   4
1  11  44  55
2   4   5  23

#  Earth Lab [Figshare](Figshare.com) repository.
download .csv containing monthly average precipitation for Boulder, CO

In [8]:
pd.read_csv('https://ndownloader.figshare.com/files/12710618')

   months  precip seasons
0     Jan    0.70  Winter
1     Feb    0.75  Winter
2     Mar    1.85  Spring
3     Apr    2.93  Spring
4     May    3.05  Spring
5    June    2.02  Summer
6    July    1.93  Summer
7     Aug    1.62  Summer
8    Sept    1.84    Fall
9     Oct    1.31    Fall
10    Nov    1.39    Fall
11    Dec    0.84  Winter

read_csv has lot of options around **50** to handle complexity of  noisy csv files.

- CSV file has header missing(use **header = None** or give header names using **names = list of header names** )
- Skip some rows( use **skiprows= list of row number**)
- **na_values** to specify a **[ ] of NA values or a dictionary {column_name:na_value}**

In [9]:
%%bash
echo -e  "11, 233, 123\n1, 3, 4\n11, 44, 55\n4, 5, 23"> sample_file_no_header.txxxt
cat sample_file_no_header.txxxt

11, 233, 123
1, 3, 4
11, 44, 55
4, 5, 23

In [10]:
pd.read_csv('sample_file_no_header.txxxt', header= None)

    0    1    2
0  11  233  123
1   1    3    4
2  11   44   55
3   4    5   23

In [11]:
pd.read_csv('sample_file_no_header.txxxt', names= list('abc'))

    a    b    c
0  11  233  123
1   1    3    4
2  11   44   55
3   4    5   23

# read_table with regular expressions
example from the book

In [12]:
%%bash
echo -e '            A         B         C\n
 aaa -0.264438 -1.026059 -0.619500\n
 bbb  0.927272  0.302904 -0.032399\n
 ccc -0.264273 -0.386314 -0.217601\n
 ddd -0.871858 -0.348382  1.100491\n' > sample_file_variable_space.txxxt

In [13]:
!cat sample_file_variable_space.txxxt

            A         B         C

 aaa -0.264438 -1.026059 -0.619500

 bbb  0.927272  0.302904 -0.032399

 ccc -0.264273 -0.386314 -0.217601

 ddd -0.871858 -0.348382  1.100491

In [16]:
# What regex we should put in sep
pd.read_table('sample_file_variable_space.txxxt', sep= '\s+' )

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

# or read_csv

In [17]:
pd.read_csv('sample_file_variable_space.txxxt',sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

# Reading Text Files in Pieces

let dowload iris dataset form uci machine learning repository

In [18]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

--2019-02-11 19:21:40--  https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.249
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.249|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4551 (4.4K) [text/plain]
Saving to: ‘iris.data’

iris.data           100%[===================>]   4.44K  --.-KB/s    in 0s

2019-02-11 19:21:41 (51.5 MB/s) - ‘iris.data’ saved [4551/4551]

In [19]:
!head iris.data

5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5.0,3.4,1.5,0.2,Iris-setosa
4.4,2.9,1.4,0.2,Iris-setosa
4.9,3.1,1.5,0.1,Iris-setosa

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

In [20]:
%%bash 
columns="sepal_length,sepal_width,petal_length,petal_width,class"
echo "$columns"| cat - iris.data > iris.csv

In [21]:
!head iris.csv

sepal_length,sepal_width,petal_length,petal_width,class
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5.0,3.4,1.5,0.2,Iris-setosa
4.4,2.9,1.4,0.2,Iris-setosa

In [22]:
!wc -l iris.csv

152 iris.csv

Let's say this file is big and can't fit in memory. We can use **read_csv** with **chunksize** option.

Typically a summarization is performed in chunk to perform overall summarization.

In [23]:
chunks = pd.read_csv('iris.csv', chunksize=20)
print('type of chunks is {}'.format(type(chunks)))
total_sepal_length = 0
num_examples = 0
flower_by_type = pd.Series([])
for chunk in chunks:
    #??? check the type of chunk
    print('type of chunk is {}'.format(type(chunk)))
    total_sepal_length += chunk['sepal_length'].sum()
    num_examples+= chunk.shape[0]
    print('shape {}'.format(chunk.shape))
    
total_sepal_length/num_examples

type of chunks is <class 'pandas.io.parsers.TextFileReader'>
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (10, 5)

5.843333333333334

let's verify this

In [25]:
iris_df = pd.read_csv('iris.csv')
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# Writing/converting data
use **to_** methods like
- to_csv
- to_pickle
- to_sql
- to_latex
- to_html
- t_excel
.
.
.

@TODO to_latex functionality

#  Handling JSON data
- Use pd.read_json to read json file
- use inbult json (loads, dumps) to handle json string and python object

In [28]:
iris_str_data = iris_df.to_json()
iris_str_data
type(iris_str_data)

str

use json(part of python standard library) to handle json related functionality

## Deserialize  str data to python object

In [27]:
import json
# Let's Deserialize iris_str_data
iris = json.loads(iris_str_data)
print(type(iris))
iris.keys()

<class 'dict'>

dict_keys(['petal_length', 'class', 'sepal_length', 'petal_width', 'sepal_width'])

## Convert python data to JSON

In [29]:
iris_json_obj = json.dumps(iris)
print(type(iris_json_obj))

<class 'str'>

# Binary dataformat
- pickle.
- HDF5(hierarchical data format) Format. 
    + Useful for large amount of data in data science/machine learning project. Allows efficient read and write for small portion of data. Relevent portion of data can be pulled into memory very fast(**some kind of queue mechanism**).

There are libraries in python(h5py) to handle hdf5 files but pandas has **HDFStore** interface.

In [30]:
# may have install tables. 
#pip install --upgrade tables
iris_h5_store = pd.HDFStore('iris_data.h5')

In [31]:
iris_h5_store['iris_class'] = iris_df['class'] 
iris_h5_store['iris_class']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
5         Iris-setosa
6         Iris-setosa
7         Iris-setosa
8         Iris-setosa
9         Iris-setosa
10        Iris-setosa
11        Iris-setosa
12        Iris-setosa
13        Iris-setosa
14        Iris-setosa
15        Iris-setosa
16        Iris-setosa
17        Iris-setosa
18        Iris-setosa
19        Iris-setosa
20        Iris-setosa
21        Iris-setosa
22        Iris-setosa
23        Iris-setosa
24        Iris-setosa
25        Iris-setosa
26        Iris-setosa
27        Iris-setosa
28        Iris-setosa
29        Iris-setosa
            ...
120    Iris-virginica
121    Iris-virginica
122    Iris-virginica
123    Iris-virginica
124    Iris-virginica
125    Iris-virginica
126    Iris-virginica
127    Iris-virginica
128    Iris-virginica
129    Iris-virginica
130    Iris-virginica
131    Iris-virginica
132    Iris-virginica
133    Iris-virginica
134    Iris-virginica
135    Iris-virginica
136    Iris-virginica
137    Iris-virginica
138    Iris-virginica
139    Iris-virginica
140    Iris-virginica
141    Iris-virginica
142    Iris-virginica
143    Iris-virginica
144    Iris-virginica
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: class, Length: 150, dtype: object

In [32]:
iris_h5_store.close()

To allow searching use format = table

In [33]:
iris_df.to_hdf('iris.h5', 'iris_table', format= 'table')

In [34]:
pd.read_hdf('iris.h5', 'iris_table', columns= ['sepal_length', 'class'])

     sepal_length           class
0             5.1     Iris-setosa
1             4.9     Iris-setosa
2             4.7     Iris-setosa
3             4.6     Iris-setosa
4             5.0     Iris-setosa
5             5.4     Iris-setosa
6             4.6     Iris-setosa
7             5.0     Iris-setosa
8             4.4     Iris-setosa
9             4.9     Iris-setosa
10            5.4     Iris-setosa
11            4.8     Iris-setosa
12            4.8     Iris-setosa
13            4.3     Iris-setosa
14            5.8     Iris-setosa
15            5.7     Iris-setosa
16            5.4     Iris-setosa
17            5.1     Iris-setosa
18            5.7     Iris-setosa
19            5.1     Iris-setosa
20            5.4     Iris-setosa
21            5.1     Iris-setosa
22            4.6     Iris-setosa
23            5.1     Iris-setosa
24            4.8     Iris-setosa
25            5.0     Iris-setosa
26            5.0     Iris-setosa
27            5.2     Iris-setosa
28            5.2     Iris-setosa
29            4.7     Iris-setosa
..            ...             ...
120           6.9  Iris-virginica
121           5.6  Iris-virginica
122           7.7  Iris-virginica
123           6.3  Iris-virginica
124           6.7  Iris-virginica
125           7.2  Iris-virginica
126           6.2  Iris-virginica
127           6.1  Iris-virginica
128           6.4  Iris-virginica
129           7.2  Iris-virginica
130           7.4  Iris-virginica
131           7.9  Iris-virginica
132           6.4  Iris-virginica
133           6.3  Iris-virginica
134           6.1  Iris-virginica
135           7.7  Iris-virginica
136           6.3  Iris-virginica
137           6.4  Iris-virginica
138           6.0  Iris-virginica
139           6.9  Iris-virginica
140           6.7  Iris-virginica
141           6.9  Iris-virginica
142           5.8  Iris-virginica
143           6.8  Iris-virginica
144           6.7  Iris-virginica
145           6.7  Iris-virginica
146           6.3  Iris-virginica
147           6.5  Iris-virginica
148           6.2  Iris-virginica
149           5.9  Iris-virginica

[150 rows x 2 columns]

In [35]:
pd.read_hdf('iris.h5', 'iris_table', where = ['sepal_length<5.0'])

ValueError: The passed where expression: [sepal_length<5.0]
            contains an invalid variable reference
            all of the variable references must be a reference to
            an axis (e.g. 'index' or 'columns'), or a data_column
            The currently defined references are: columns,index

In [36]:
pd.read_hdf('iris.h5', 'iris_table', where = ['index < 10'])

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [37]:
iris_df.to_hdf('iris.h5', 'iris_table', format= 'table', data_columns=['sepal_length', 'class'])

/media/psnegi/psn/du/teaching/teach_2019/data_science_tools1/dst1_env/lib/python3.5/site-packages/tables/path.py:118: NaturalNameWarning: object name is a Python keyword: 'class'; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  % (name, _warnInfo), NaturalNameWarning)

In [38]:
pd.read_hdf('iris.h5', 'iris_table', where = ['sepal_length<5.0'])

     sepal_length  sepal_width  petal_length  petal_width            class
1             4.9          3.0           1.4          0.2      Iris-setosa
2             4.7          3.2           1.3          0.2      Iris-setosa
3             4.6          3.1           1.5          0.2      Iris-setosa
6             4.6          3.4           1.4          0.3      Iris-setosa
8             4.4          2.9           1.4          0.2      Iris-setosa
9             4.9          3.1           1.5          0.1      Iris-setosa
11            4.8          3.4           1.6          0.2      Iris-setosa
12            4.8          3.0           1.4          0.1      Iris-setosa
13            4.3          3.0           1.1          0.1      Iris-setosa
22            4.6          3.6           1.0          0.2      Iris-setosa
24            4.8          3.4           1.9          0.2      Iris-setosa
29            4.7          3.2           1.6          0.2      Iris-setosa
30            4.8          3.1           1.6          0.2      Iris-setosa
34            4.9          3.1           1.5          0.1      Iris-setosa
37            4.9          3.1           1.5          0.1      Iris-setosa
38            4.4          3.0           1.3          0.2      Iris-setosa
41            4.5          2.3           1.3          0.3      Iris-setosa
42            4.4          3.2           1.3          0.2      Iris-setosa
45            4.8          3.0           1.4          0.3      Iris-setosa
47            4.6          3.2           1.4          0.2      Iris-setosa
57            4.9          2.4           3.3          1.0  Iris-versicolor
106           4.9          2.5           4.5          1.7   Iris-virginica

# Data cleaning
## Handling Missing Data

In pandas missing data is NA(not available)..

- For numeric data, pandas uses the floating-point value NaN (Not a Number) to represent missing data.
- The built-in Python None value is also treated as NA

## APIs for handling NA
- **dropna:** Filter data based on axis labels, with varying thresholds for how much missing data to tolerate.
-  **fillna:** Fill NA with a value of some interpolation method

## dropna

https://archive.ics.uci.edu/ml/machine-learning-databases/horse-colic/horse-colic.data

In [44]:
# As we talked earlier csv files have lot of options, can you figure out the option
#so that ? is treated as NA values
colic_horse_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/horse-colic/horse-colic.data', 
                   sep= '\s+', header= None, na_values= ['?'])
colic_horse_df

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
5,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2
6,1.0,1,526802,37.9,48.0,16.0,1.0,1.0,1.0,1.0,...,37.0,7.0,NaN,NaN,1.0,1,3124,0,0,2
7,1.0,1,529607,NaN,60.0,NaN,3.0,NaN,NaN,1.0,...,44.0,8.3,NaN,NaN,2.0,1,2208,0,0,2
8,2.0,1,530051,NaN,80.0,36.0,3.0,4.0,3.0,1.0,...,38.0,6.2,NaN,NaN,3.0,1,3205,0,0,2
9,2.0,9,5299629,38.3,90.0,NaN,1.0,NaN,1.0,1.0,...,40.0,6.2,1.0,2.2,1.0,2,0,0,0,1
10,1.0,1,528548,38.1,66.0,12.0,3.0,3.0,5.0,1.0,...,44.0,6.0,2.0,3.6,1.0,1,2124,0,0,1
11,2.0,1,527927,39.1,72.0,52.0,2.0,NaN,2.0,1.0,...,50.0,7.8,NaN,NaN,1.0,1,2111,0,0,2
12,1.0,1,528031,37.2,42.0,12.0,2.0,1.0,1.0,1.0,...,NaN,7.0,NaN,NaN,1.0,2,4124,0,0,2
13,2.0,9,5291329,38.0,92.0,28.0,1.0,1.0,2.0,1.0,...,37.0,6.1,1.0,NaN,2.0,2,0,0,0,1
14,1.0,1,534917,38.2,76.0,28.0,3.0,1.0,1.0,1.0,...,46.0,81.0,1.0,2.0,1.0,1,2112,0,0,2
15,1.0,1,530233,37.6,96.0,48.0,3.0,1.0,4.0,1.0,...,45.0,6.8,NaN,NaN,2.0,1,3207,0,0,2
16,1.0,9,5301219,NaN,128.0,36.0,3.0,3.0,4.0,2.0,...,53.0,7.8,3.0,4.7,2.0,2,1400,0,0,1
17,2.0,1,526639,37.5,48.0,24.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2
18,1.0,1,5290481,37.6,64.0,21.0,1.0,1.0,2.0,1.0,...,40.0,7.0,1.0,NaN,1.0,1,4205,0,0,1
19,2.0,1,532110,39.4,110.0,35.0,4.0,3.0,6.0,NaN,...,55.0,8.7,NaN,NaN,1.0,2,0,0,0,2
20,1.0,1,530157,39.9,72.0,60.0,1.0,1.0,5.0,2.0,...,46.0,6.1,2.0,NaN,1.0,1,2111,0,0,2
21,2.0,1,529340,38.4,48.0,16.0,1.0,NaN,1.0,1.0,...,49.0,6.8,NaN,NaN,1.0,2,0,0,0,2
22,1.0,1,521681,38.6,42.0,34.0,2.0,1.0,4.0,NaN,...,48.0,7.2,NaN,NaN,1.0,1,3111,0,0,2
23,1.0,9,534998,38.3,130.0,60.0,NaN,3.0,NaN,1.0,...,50.0,70.0,NaN,NaN,1.0,1,3111,0,0,2
24,1.0,1,533692,38.1,60.0,12.0,3.0,3.0,3.0,1.0,...,51.0,65.0,NaN,NaN,1.0,1,3111,0,0,2
25,2.0,1,529518,37.8,60.0,42.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2
26,1.0,1,530526,38.3,72.0,30.0,4.0,3.0,3.0,2.0,...,43.0,7.0,2.0,3.9,1.0,1,3111,0,0,1
27,1.0,1,528653,37.8,48.0,12.0,3.0,1.0,1.0,1.0,...,37.0,5.5,2.0,1.3,1.0,2,4122,0,0,1
28,1.0,1,5279442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,2,4300,0,0,2
29,2.0,1,535415,37.7,48.0,NaN,2.0,1.0,1.0,1.0,...,45.0,76.0,NaN,NaN,1.0,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,1.0,1,528570,37.5,60.0,50.0,3.0,3.0,1.0,1.0,...,35.0,6.5,NaN,NaN,2.0,1,2209,0,0,2
271,1.0,1,534626,37.7,80.0,NaN,3.0,3.0,6.0,1.0,...,50.0,55.0,3.0,2.0,1.0,1,4206,0,0,2
272,1.0,1,529796,NaN,100.0,30.0,3.0,3.0,4.0,2.0,...,52.0,6.6,NaN,NaN,1.0,1,2124,0,0,2
273,1.0,1,528638,37.7,120.0,28.0,3.0,3.0,3.0,1.0,...,65.0,7.0,3.0,NaN,2.0,1,4205,0,0,1
274,1.0,1,534624,NaN,76.0,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,1,11124,0,0,2
275,1.0,9,5297159,38.8,150.0,50.0,1.0,3.0,6.0,2.0,...,50.0,6.2,NaN,NaN,2.0,1,4207,0,0,2
276,1.0,1,534787,38.0,36.0,16.0,3.0,1.0,1.0,1.0,...,37.0,75.0,2.0,1.0,3.0,2,3111,0,0,2
277,2.0,1,528620,36.9,50.0,40.0,2.0,3.0,3.0,1.0,...,37.5,6.5,NaN,NaN,1.0,2,3111,0,0,2
278,2.0,1,528019,37.8,40.0,16.0,1.0,1.0,1.0,1.0,...,37.0,6.8,NaN,NaN,1.0,2,0,0,0,2
279,2.0,1,529172,38.2,56.0,40.0,4.0,3.0,1.0,1.0,...,47.0,7.2,1.0,2.5,1.0,2,8300,0,0,1
280,1.0,1,534644,38.6,48.0,12.0,NaN,NaN,1.0,NaN,...,36.0,67.0,NaN,NaN,1.0,2,0,0,0,2
281,2.0,1,530624,40.0,78.0,NaN,3.0,3.0,5.0,1.0,...,66.0,6.5,NaN,NaN,2.0,1,8400,0,0,1
282,1.0,1,527544,NaN,70.0,16.0,3.0,4.0,5.0,2.0,...,60.0,7.5,NaN,NaN,2.0,1,1400,0,0,2
283,1.0,1,527758,38.2,72.0,18.0,NaN,NaN,NaN,NaN,...,35.0,6.4,NaN,NaN,1.0,1,3124,0,0,2
284,2.0,1,530439,38.5,54.0,NaN,1.0,1.0,1.0,1.0,...,40.0,6.8,2.0,7.0,1.0,2,0,0,0,1
285,1.0,1,5283431,38.5,66.0,24.0,1.0,1.0,1.0,1.0,...,40.0,6.7,1.0,NaN,1.0,1,31110,0,0,1
286,2.0,1,5275212,37.8,82.0,12.0,3.0,1.0,1.0,2.0,...,50.0,7.0,NaN,NaN,3.0,1,2205,0,0,2
287,2.0,9,5305129,39.5,84.0,30.0,NaN,NaN,NaN,1.0,...,28.0,5.0,NaN,NaN,1.0,2,0,0,0,2
288,1.0,1,529428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1,2124,0,0,2
289,1.0,1,529126,38.0,50.0,36.0,NaN,1.0,1.0,1.0,...,39.0,6.6,1.0,5.3,1.0,1,8400,0,0,1
290,2.0,1,535054,38.6,45.0,16.0,2.0,1.0,2.0,1.0,...,43.0,58.0,NaN,NaN,1.0,2,0,0,0,2
291,1.0,1,528890,38.9,80.0,44.0,3.0,3.0,3.0,1.0,...,54.0,6.5,3.0,NaN,2.0,1,7111,0,0,2
292,1.0,1,530034,37.0,66.0,20.0,1.0,3.0,2.0,1.0,...,35.0,6.9,2.0,NaN,2.0,1,31110,0,0,2
293,1.0,1,534004,NaN,78.0,24.0,3.0,3.0,3.0,1.0,...,43.0,62.0,NaN,2.0,3.0,2,2209,0,0,2
294,2.0,1,533902,38.5,40.0,16.0,1.0,1.0,1.0,1.0,...,37.0,67.0,NaN,NaN,1.0,2,0,0,0,2
295,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,44.0,NaN,3.0,3.3,3.0,1,2208,0,0,1
297,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,60.0,6.8,NaN,NaN,2.0,1,3205,0,0,2
298,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1
299,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,1.0,1.0,3.0,2,6112,0,0,2

In [ ]:
colic_horse_df.dropna?

In [41]:
colic_horse_df.dropna(axis=0, how = 'any')

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
10,1.0,1,528548,38.1,66.0,12.0,3.0,3.0,5.0,1.0,...,44.0,6.0,2.0,3.6,1.0,1,2124,0,0,1
54,2.0,1,529461,40.3,114.0,36.0,3.0,3.0,1.0,2.0,...,57.0,8.1,3.0,4.5,3.0,1,7400,0,0,1
64,1.0,1,529667,39.0,64.0,36.0,3.0,1.0,4.0,2.0,...,44.0,7.5,3.0,5.0,1.0,1,2113,0,0,1
91,2.0,1,529461,40.3,114.0,36.0,3.0,3.0,1.0,2.0,...,57.0,8.1,3.0,4.5,2.0,1,3205,0,0,1
104,1.0,1,527563,37.8,52.0,24.0,1.0,3.0,3.0,1.0,...,48.0,6.6,1.0,3.7,2.0,1,5400,0,0,2
189,1.0,1,5299603,38.3,60.0,16.0,3.0,1.0,1.0,1.0,...,30.0,6.0,1.0,3.0,1.0,1,31110,0,0,2

**how = all** will drop if all row values or column values are NA

## same as this boolean indexing

In [47]:
colic_horse_df.isna().sum(axis =1) <4

0      False
1      False
2      False
3       True
4      False
5      False
6       True
7      False
8      False
9      False
10      True
11     False
12     False
13      True
14      True
15      True
16      True
17     False
18      True
19     False
20      True
21      True
22     False
23     False
24     False
25     False
26      True
27      True
28     False
29     False
       ...
270     True
271     True
272    False
273    False
274    False
275    False
276     True
277    False
278    False
279     True
280    False
281    False
282    False
283    False
284     True
285     True
286    False
287    False
288    False
289    False
290    False
291     True
292     True
293    False
294    False
295    False
296     True
297     True
298     True
299    False
Length: 300, dtype: bool

In [ ]:
# Keep  all the row with  number of na values < 4 ??

# Filling In Missing Data

In [48]:

np.random.seed(1)
df = pd.DataFrame(np.arange(21).reshape(7, 3))
df.iloc[1:4, 1] = np.nan
df.iloc[-2:, 2] = np.nan
df

    0     1     2
0   0   1.0   2.0
1   3   NaN   5.0
2   6   NaN   8.0
3   9   NaN  11.0
4  12  13.0  14.0
5  15  16.0   NaN
6  18  19.0   NaN

In [49]:
df.fillna({1: 0.5, 2: .25})

    0     1      2
0   0   1.0   2.00
1   3   0.5   5.00
2   6   0.5   8.00
3   9   0.5  11.00
4  12  13.0  14.00
5  15  16.0   0.25
6  18  19.0   0.25

In [50]:
df.fillna(method='ffill', limit=2)

    0     1     2
0   0   1.0   2.0
1   3   1.0   5.0
2   6   1.0   8.0
3   9   NaN  11.0
4  12  13.0  14.0
5  15  16.0  14.0
6  18  19.0  14.0

In [53]:
# fill df with median value of each columns
df.fillna(df.median())

    0     1     2
0   0   1.0   2.0
1   3  14.5   5.0
2   6  14.5   8.0
3   9  14.5  11.0
4  12  13.0  14.0
5  15  16.0   8.0
6  18  19.0   8.0

# Data Transformation

# Dropping duplicates

In [54]:
df = pd.DataFrame(np.arange(12).reshape(4,3), columns=['col'+str(i) for i in range(1, 4)])
df

   col1  col2  col3
0     0     1     2
1     3     4     5
2     6     7     8
3     9    10    11

In [55]:
np.random.seed(1)
dup_df =pd.concat([df, df.sample(2)])
dup_df = dup_df.reset_index(drop= True)
dup_df.iloc[4, 0] = 33
dup_df

   col1  col2  col3
0     0     1     2
1     3     4     5
2     6     7     8
3     9    10    11
4    33    10    11
5     6     7     8

In [56]:
dup_df.duplicated(subset=['col1', 'col3'])

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [58]:
dup_df.drop_duplicates(subset=['col1', 'col3'], keep='last')

   col1  col2  col3
0     0     1     2
1     3     4     5
3     9    10    11
4    33    10    11
5     6     7     8

# Discretization and Binning

In [60]:
# exampel from the book
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]

In [61]:
cats = pd.cut(ages, bins)
print(cats)
type(cats)

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

pandas.core.arrays.categorical.Categorical

In [62]:
print(cats.codes)
print(cats.categories)

[0 0 0 1 0 0 2 1 3 2 2 1]
IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

bin counts

In [63]:
print(pd.value_counts(cats))

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

## passing bin names

In [64]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

# outlier detection
- Unusual dollar amount
- Unusual pixel value in the image

build conditional logic to get boolean index

In [66]:
np.random.seed(1)
data = pd.DataFrame(2+ np.random.randn(10, 4))
data

          0         1         2         3
0  3.624345  1.388244  1.471828  0.927031
1  2.865408 -0.301539  3.744812  1.238793
2  2.319039  1.750630  3.462108 -0.060141
3  1.677583  1.615946  3.133769  0.900109
4  1.827572  1.122142  2.042214  2.582815
5  0.899381  3.144724  2.901591  2.502494
6  2.900856  1.316272  1.877110  1.064231
7  1.732112  2.530355  1.308339  1.603246
8  1.312827  1.154794  1.328754  1.987335
9  0.882690  2.234416  3.659802  2.742044

In [67]:
data.describe()

               0          1          2          3
count  10.000000  10.000000  10.000000  10.000000
mean    2.004181   1.595598   2.493033   1.548796
std     0.909089   0.933614   0.990475   0.902147
min     0.882690  -0.301539   1.308339  -0.060141
25%     1.404016   1.195164   1.573149   0.961331
50%     1.779842   1.502095   2.471902   1.421020
75%     2.728815   2.113469   3.380023   2.373705
max     3.624345   3.144724   3.744812   2.742044

In [68]:
data[(np.abs(data) > 3).any(1)]

          0         1         2         3
0  3.624345  1.388244  1.471828  0.927031
1  2.865408 -0.301539  3.744812  1.238793
2  2.319039  1.750630  3.462108 -0.060141
3  1.677583  1.615946  3.133769  0.900109
5  0.899381  3.144724  2.901591  2.502494
9  0.882690  2.234416  3.659802  2.742044

In [69]:
data[0].quantile(q= .99)

3.559231316367347

In [71]:
data[0][np.abs(data[0]) > data[0].quantile(q= .99)] = data[0].quantile(q= .99)
data
pd.qcut?

# Computing Indicator/Dummy Variables

converting a categorical variable into a “dummy” or “indicator” matrix

Check the book too

In [72]:
!wget http://files.grouplens.org/datasets/movielens/ml-latest-small.zip

--2019-02-11 20:35:12--  http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.34.235
Connecting to files.grouplens.org (files.grouplens.org)|128.101.34.235|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 978202 (955K) [application/zip]
Saving to: ‘ml-latest-small.zip’

ml-latest-small.zip 100%[===================>] 955.28K  2.38MB/s    in 0.4s

2019-02-11 20:35:13 (2.38 MB/s) - ‘ml-latest-small.zip’ saved [978202/978202]

In [73]:
!unzip ml-latest-small.zip

Archive:  ml-latest-small.zip
   creating: ml-latest-small/
  inflating: ml-latest-small/links.csv
  inflating: ml-latest-small/tags.csv
  inflating: ml-latest-small/ratings.csv
  inflating: ml-latest-small/README.txt
  inflating: ml-latest-small/movies.csv

In [74]:
!head ml-latest-small/movies.csv

In [81]:
movie_df = pd.read_csv('ml-latest-small/movies.csv', index_col = 0)
movie_df.genres

movieId
1         Adventure|Animation|Children|Comedy|Fantasy
2                          Adventure|Children|Fantasy
3                                      Comedy|Romance
4                                Comedy|Drama|Romance
5                                              Comedy
6                               Action|Crime|Thriller
7                                      Comedy|Romance
8                                  Adventure|Children
9                                              Action
10                          Action|Adventure|Thriller
11                               Comedy|Drama|Romance
12                                      Comedy|Horror
13                       Adventure|Animation|Children
14                                              Drama
15                           Action|Adventure|Romance
16                                        Crime|Drama
17                                      Drama|Romance
18                                             Comedy
19                                             Comedy
20                 Action|Comedy|Crime|Drama|Thriller
21                              Comedy|Crime|Thriller
22                Crime|Drama|Horror|Mystery|Thriller
23                              Action|Crime|Thriller
24                                       Drama|Sci-Fi
25                                      Drama|Romance
26                                              Drama
27                                     Children|Drama
28                                      Drama|Romance
29             Adventure|Drama|Fantasy|Mystery|Sci-Fi
30                                        Crime|Drama
                             ...
188189                          Comedy|Fantasy|Sci-Fi
188301         Action|Adventure|Comedy|Fantasy|Sci-Fi
188675                                    Crime|Drama
188751                                 Comedy|Romance
188797                                         Comedy
188833                       Adventure|Comedy|Fantasy
189043                                   Comedy|Drama
189111                                    Documentary
189333                      Action|Adventure|Thriller
189381                          Action|Crime|Thriller
189547                                  Action|Sci-Fi
189713                             Comedy|Crime|Drama
190183                                Sci-Fi|Thriller
190207                                  Drama|Romance
190209                                         Comedy
190213                                          Drama
190215                                          Drama
190219                                      Animation
190221                                    Documentary
191005                 Action|Adventure|Comedy|Sci-Fi
193565                 Action|Animation|Comedy|Sci-Fi
193567                                Animation|Drama
193571                                   Comedy|Drama
193573                                      Animation
193579                                    Documentary
193581                Action|Animation|Comedy|Fantasy
193583                       Animation|Comedy|Fantasy
193585                                          Drama
193587                               Action|Animation
193609                                         Comedy
Name: genres, Length: 9742, dtype: object

In [80]:
unique_genre =  movie_df.genres.str.split('|').sum()
unique_genre = set(unique_genre)
unique_genre
#movie_df.genres.str.split('|').sum()

{'(no genres listed)',
 'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'IMAX',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'}

In [82]:
# build columns for different genre indicator
for g in unique_genre:
    movie_df[g] = movie_df.genres.map( lambda x: g in x.split('|') )
    
movie_df

,title,genres,Drama,Children,Sci-Fi,Animation,War,Mystery,Comedy,Western,...,Romance,(no genres listed),Adventure,Musical,IMAX,Fantasy,Thriller,Action,Horror,Documentary
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,False,True,False,True,False,False,True,False,...,False,False,True,False,False,True,False,False,False,False
2,Jumanji (1995),Adventure|Children|Fantasy,False,True,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
3,Grumpier Old Men (1995),Comedy|Romance,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
4,Waiting to Exhale (1995),Comedy|Drama|Romance,True,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
5,Father of the Bride Part II (1995),Comedy,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
6,Heat (1995),Action|Crime|Thriller,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
7,Sabrina (1995),Comedy|Romance,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
8,Tom and Huck (1995),Adventure|Children,False,True,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
9,Sudden Death (1995),Action,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
10,GoldenEye (1995),Action|Adventure|Thriller,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,True,False,False
11,"American President, The (1995)",Comedy|Drama|Romance,True,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
12,Dracula: Dead and Loving It (1995),Comedy|Horror,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
13,Balto (1995),Adventure|Animation|Children,False,True,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
14,Nixon (1995),Drama,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,Cutthroat Island (1995),Action|Adventure|Romance,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,True,False,False
16,Casino (1995),Crime|Drama,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,Sense and Sensibility (1995),Drama|Romance,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
18,Four Rooms (1995),Comedy,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
19,Ace Ventura: When Nature Calls (1995),Comedy,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,True,True,False,False
21,Get Shorty (1995),Comedy|Crime|Thriller,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,True,False,False,False
22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,True,False,True,False
23,Assassins (1995),Action|Crime|Thriller,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
24,Powder (1995),Drama|Sci-Fi,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,Leaving Las Vegas (1995),Drama|Romance,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
26,Othello (1995),Drama,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,Now and Then (1995),Children|Drama,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,Persuasion (1995),Drama|Romance,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,True,False,True,False,False,True,False,False,...,False,False,True,False,False,True,False,False,False,False
30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188189,Sorry to Bother You (2018),Comedy|Fantasy|Sci-Fi,False,False,True,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,False
188301,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi,False,False,True,False,False,False,True,False,...,False,False,True,False,False,True,False,True,False,False
188675,Dogman (2018),Crime|Drama,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
188751,Mamma Mia: Here We Go Again! (2018),Comedy|Romance,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
188797,Tag (2018),Comedy,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
188833,The Man Who Killed Don Quixote (2018),Adventure|Comedy|Fantasy,False,False,False,False,False,False,True,False,...,False,False,True,False,False,True,False,False,False,False
189043,Boundaries (2018),Comedy|Drama,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
189111,Spiral (2018),Documentary,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
189333,Mission: Impossible - Fallout (2018),Action|Adventure|Thriller,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,True,False,False
189381,SuperFly (2018),Action|Crime|Thriller,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
189547,Iron Soldier (2010),Action|Sci-Fi,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
189713,BlacKkKlansman (2018),Comedy|Crime|Drama,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
190183,The Darkest Minds (2018),Sci-Fi|Thriller,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
190207,Tilt (2011),Drama|Romance,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
190209,Jeff Ross Roasts the Border (2017),Comedy,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
190213,John From (2015),Drama,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
190215,Liquid Truth (2017),Drama,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
190219,Bunny (1998),Animation,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
190221,Hommage à Zgougou (et salut à Sabine Mamou) (2...,Documentary,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
191005,Gintama (2017),Action|Adventure|Comedy|Sci-Fi,False,False,True,False,False,False,True,False,...,False,False,True,False,False,False,False,True,False,False
193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,False,False,True,True,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False
193567,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
193571,Silver Spoon (2014),Comedy|Drama,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
193573,Love Live! The School Idol Movie (2015),Animation,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
193579,Jon Stewart Has Left the Building (2015),Documentary,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,False,False,False,True,False,False,True,False,...,False,False,False,False,False,True,False,True,False,False
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,False,False,False,True,False,False,True,False,...,False,False,False,False,False,True,False,False,False,False
193585,Flint (2017),Drama,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
193609,Andrew Dice Clay: Dice Rules (1991),Comedy,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [83]:
movie_df.sum()

title                 Toy Story (1995)Jumanji (1995)Grumpier Old Men...
genres                Adventure|Animation|Children|Comedy|FantasyAdv...
Drama                                                              4361
Children                                                            664
Sci-Fi                                                              980
Animation                                                           611
War                                                                 382
Mystery                                                             573
Comedy                                                             3756
Western                                                             167
Film-Noir                                                            87
Crime                                                              1199
Romance                                                            1596
(no genres listed)                                                   34
Adventure                                                          1263
Musical                                                             334
IMAX                                                                158
Fantasy                                                             779
Thriller                                                           1894
Action                                                             1828
Horror                                                              978
Documentary                                                         440
dtype: object

In [ ]:
movie_df.head()