This file is for pulling the estimated popluation based upon the 2010 census.  The census data will be used in the COMP4447 final project to compare air pollution to population growth.

In [134]:
#list of libraries

import numpy as np
import pandas as pd
import re

In [223]:
#obtain the files from the US census website
!wget -O Census_CO_2000_2009.xlsx https://www2.census.gov/programs-surveys/popest/tables/2000-2010/intercensal/county/co-est00int-01-08.xls
!wget -O Census_CO_2010_2019.xlsx https://www2.census.gov/programs-surveys/popest/tables/2010-2019/counties/totals/co-est2019-annres-08.xlsx

--2021-10-30 07:38:29--  https://www2.census.gov/programs-surveys/popest/tables/2000-2010/intercensal/county/co-est00int-01-08.xls
Resolving www2.census.gov (www2.census.gov)... 23.35.163.230, 2600:1404:28:296::208c, 2600:1404:28:28c::208c
Connecting to www2.census.gov (www2.census.gov)|23.35.163.230|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 36864 (36K) [application/vnd.ms-excel]
Saving to: ‘Census_CO_2000_2009.xlsx’

Census_CO_2000_2009 100%[===================>]  36.00K  --.-KB/s    in 0.03s

2021-10-30 07:38:29 (1.23 MB/s) - ‘Census_CO_2000_2009.xlsx’ saved [36864/36864]

--2021-10-30 07:38:29--  https://www2.census.gov/programs-surveys/popest/tables/2010-2019/counties/totals/co-est2019-annres-08.xlsx
Resolving www2.census.gov (www2.census.gov)... 23.35.163.230, 2600:1404:28:296::208c, 2600:1404:28:28c::208c
Connecting to www2.census.gov (www2.census.gov)|23.35.163.230|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17437 (17K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘Census_CO_2010_2019.xlsx’

Census_CO_2010_2019 100%[===================>]  17.03K  --.-KB/s    in 0.004s

2021-10-30 07:38:30 (4.51 MB/s) - ‘Census_CO_2010_2019.xlsx’ saved [17437/17437]

2010 data cleaning

In [238]:
#download to a dataframe remove unneeded title rows
census_df = pd.read_excel("Census_CO_2010_2019.xlsx", skiprows =range(0,3))

#rename first colunm names:
census_df.rename(columns={'Unnamed: 0':'County'}, inplace=True)

#delete unneeded columns:
census_df.drop(["Census", "Estimates Base"], axis =1, inplace = True)


#delete unneeded rows with notes then reset the index 
census_df = census_df.iloc[:-5 , :]
census_df = census_df.iloc[1:, :]

census_df.reset_index(inplace = True) #need to reindex for next for loop to work
census_df.drop(["index"], axis =1, inplace = True)

#delete period in front of county name then remove " County, Colorado"
for i in range(len(census_df)):
    word = re.sub(r'[.]', '', census_df['County'][i])
    pr = word.partition(" ")
    census_df.at[i, 'County'] = pr[0]

census_df.head()

,County,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Adams,443691.0,452201.0,460558.0,469978.0,479946.0,490443.0,497734.0,503590.0,511354.0,517421.0
1,Alamosa,15515.0,15709.0,15680.0,15787.0,15803.0,15894.0,16053.0,16108.0,16248.0,16233.0
2,Arapahoe,574747.0,585968.0,596500.0,608467.0,619034.0,630984.0,638950.0,644478.0,651797.0,656590.0
3,Archuleta,12046.0,12021.0,12132.0,12216.0,12231.0,12387.0,12825.0,13295.0,13730.0,14029.0
4,Baca,3807.0,3778.0,3722.0,3656.0,3587.0,3555.0,3530.0,3554.0,3584.0,3581.0

2000 data cleaning

In [227]:
#download to a dataframe remove unneeded title rows
census2000_df = pd.read_excel("Census_CO_2000_2009.xlsx", skiprows =range(0,3))
census2000_df.head()

#rename first colunm names:
census2000_df.rename(columns={'Unnamed: 0':'County'}, inplace=True)

#delete unneeded columns:
census2000_df.drop(["Unnamed: 1", "Unnamed: 12", "Unnamed: 13"], axis =1, inplace = True)

#delete unneeded rows with notes then reset the index 
census2000_df = census2000_df.iloc[:-7 , :]
census2000_df = census2000_df.iloc[1:, :]

census2000_df.reset_index(inplace = True) #need to reindex for next for loop to work
census2000_df.drop(["index"], axis =1, inplace = True)

#delete period in front of county name then remove " County, Colorado"
for i in range(len(census2000_df)):
    word = re.sub(r'[.]', '', census2000_df['County'][i])
    pr = word.partition(" ")
    census2000_df.at[i, 'County'] = pr[0]
    
census2000_df.head()

,County,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,Adams,350888.0,359816.0,370753.0,377464.0,384809.0,395146.0,406575.0,415746.0,424913.0,435700.0
1,Alamosa,14954.0,14956.0,15114.0,15067.0,15217.0,15236.0,15196.0,15180.0,15300.0,15289.0
2,Arapahoe,491482.0,502393.0,508936.0,513690.0,518971.0,524466.0,531619.0,542039.0,552461.0,563161.0
3,Archuleta,10020.0,10454.0,10885.0,11089.0,11266.0,11496.0,11937.0,12262.0,12250.0,12169.0
4,Baca,4501.0,4471.0,4336.0,4117.0,4064.0,3997.0,3933.0,3866.0,3806.0,3767.0

In [241]:
#merge the two df
census_final = pd.merge(census2000_df, census_df,left_index=True, right_index=True, how='inner') 

#remove the County on the right df
census_final.drop(["County_y"], axis =1, inplace = True)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
census_final.head()

,County_x,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Adams,350888.0,359816.0,370753.0,377464.0,384809.0,395146.0,406575.0,415746.0,424913.0,435700.0,443691.0,452201.0,460558.0,469978.0,479946.0,490443.0,497734.0,503590.0,511354.0,517421.0
1,Alamosa,14954.0,14956.0,15114.0,15067.0,15217.0,15236.0,15196.0,15180.0,15300.0,15289.0,15515.0,15709.0,15680.0,15787.0,15803.0,15894.0,16053.0,16108.0,16248.0,16233.0
2,Arapahoe,491482.0,502393.0,508936.0,513690.0,518971.0,524466.0,531619.0,542039.0,552461.0,563161.0,574747.0,585968.0,596500.0,608467.0,619034.0,630984.0,638950.0,644478.0,651797.0,656590.0
3,Archuleta,10020.0,10454.0,10885.0,11089.0,11266.0,11496.0,11937.0,12262.0,12250.0,12169.0,12046.0,12021.0,12132.0,12216.0,12231.0,12387.0,12825.0,13295.0,13730.0,14029.0
4,Baca,4501.0,4471.0,4336.0,4117.0,4064.0,3997.0,3933.0,3866.0,3806.0,3767.0,3807.0,3778.0,3722.0,3656.0,3587.0,3555.0,3530.0,3554.0,3584.0,3581.0

In [247]:
#transpose the df and adjust the indexes
#need to transpose since the numbers in the column names cause issues calling the columns

def census_transpose(df):            
    df_T = df.T 
    df_T.rename(columns = df_T.iloc[0], inplace = True)
    df_T.drop(df_T.index[0], inplace = True)
    return df_T

census_final = census_transpose(census_final)

In [273]:
#change the dtypes of the columns

census_final = census_final.astype(int)
census_final.head()

,Adams,Alamosa,Arapahoe,Archuleta,Baca,Bent,Boulder,Broomfield,Chaffee,Cheyenne,Clear,Conejos,Costilla,Crowley,Custer,Delta,Denver,Dolores,Douglas,Eagle,Elbert,El,Fremont,Garfield,Gilpin,Grand,Gunnison,Hinsdale,Huerfano,Jackson,Jefferson,Kiowa,Kit,Lake,La,Larimer,Las,Lincoln,Logan,Mesa,Mineral,Moffat,Montezuma,Montrose,Morgan,Otero,Ouray,Park,Phillips,Pitkin,Prowers,Pueblo,Rio,Rio,Routt,Saguache,San,San,Sedgwick,Summit,Teller,Washington,Weld,Yuma
2000,350888,14954,491482,10020,4501,5954,271574,39679,16337,2209,9255,8401,3675,5509,3523,27877,555651,1847,180121,41961,20060,519938,46245,44257,4783,12496,14068,791,7771,1577,526251,1610,7971,7815,44228,253072,15297,6070,20699,117631,832,13147,23847,33599,27257,20242,3775,14670,4455,14817,14431,141800,5986,12445,19815,5939,562,6609,2746,23700,20655,4939,182782,9823
2001,359816,14956,502393,10454,4471,5841,277597,41055,16488,2179,9383,8350,3619,5614,3664,28069,561976,1849,196783,43238,21094,535864,46633,45636,4781,12743,14206,817,7635,1529,528845,1550,7995,7758,45044,260541,15116,5912,21459,119496,796,13065,23692,34361,27307,20012,3787,15255,4456,15013,14182,144014,5868,12213,20210,6024,581,6858,2661,24716,21193,4874,192278,9822
2002,370753,15114,508936,10885,4336,5973,279468,41800,16844,2119,9514,8358,3639,5666,3714,28677,556790,1870,208911,44227,21678,544145,47019,46925,4788,13158,14322,798,7571,1532,527851,1519,8250,7676,45869,265372,15424,5936,21548,122440,812,13193,23935,35154,27556,19688,3872,15760,4497,15098,14057,146537,5951,12224,20469,6209,594,7111,2694,25006,21543,5035,202234,9762
2003,377464,15067,513690,11089,4117,6166,278768,43805,16921,2021,9402,8310,3645,5464,3865,28929,552588,1842,220352,44995,21834,547549,46901,47622,4777,13324,14273,779,7428,1512,524940,1501,8133,7491,46121,268448,15706,5904,21825,124994,828,13106,24255,35767,27736,19585,3880,16024,4415,15217,13853,147907,5923,12296,20893,6262,610,7062,2652,25408,21682,5028,208858,9923
2004,384809,15217,518971,11266,4064,6180,279728,44867,17047,1981,9148,8353,3656,5720,3911,29305,550756,1850,232508,45893,21977,556667,46605,48193,4752,13596,14356,810,7193,1486,520900,1457,8157,7434,46728,271510,15573,5751,21795,127678,848,13175,24456,36310,27736,19436,4003,16130,4475,15220,13613,148654,6007,12328,21162,6365,631,7038,2551,25313,21678,4923,215322,9791